<h1 class="text-center">Chats</h1>
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Chat with</th>
        <th>Details</th>
        <% if user_signed_in? %>
          <th>Edit</th>
        <% end %>
      </tr>
      <% @chats.each do |chat| %>
        <tr>
          <td><%= chat.other_user(current_user).first_name %></td>
          <td><%= link_to("Details", chat_path(chat)) %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_chat_path(chat), class: 'btn btn-sm btn-primary' %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <% if user_signed_in? %>
      <div class="text-center mt-4">
        <%= link_to 'New Chat', new_chat_path, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
